body {
    background-color: #03001C;
    color: #B6EADA;
}

.form{
    width:400px;
    background-color: #03001C;
    border-radius: 20px;
    border: 5px solid #5B8Fb9;
    padding: 20px;
    margin: auto
}

form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
input {
    display:block;
    border-radius: 10px;
    border: 2px solid #301E67;
    background-color:#301E;
    color:#B6EADA;
    height: 1.5rem;
    margin: 1vw auto;
    padding: 3px 10px;
}
input:focus {
    border: 2px solid #03001C;
    border-radius: 10px;
    outline: none;
}
.circular-progress {
    --progress: calc ((var(--data-value) / 100) * 360deg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(#4caf50 var(--progress), #e0e0e0 var(--progress));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.3s ease;
}

.inner-circle {
    width: 120px; /* slightly smaller than the container */
    height: 120px;
    border-radius: 50%;
    background-color: #301e67;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.progress-value {
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
}
label {
    display: block;
}

.circular-progress[completed-forms="25"] {
    --progress: 90deg;
}

.circular-progress[completed-forms="50"] {
    --progress: 180deg;
}

.circular-progress[completed-forms="75"] {
    --progress: 270deg;
}

.circular-progress[completed-forms="100"] {
    --progress: 360deg;
}

.error-message {
    visibility: hidden;
}

[aria-invalid="true"] {
    outline:  2px solid red;
}

[aria-invalid="true"] ~ .error-message {
    visibility: visible;
    color:red;
    font-size: 0.7rem;
}
button {
    color:aqua;
    border-radius: 20px;
    padding: 10px 25px ;
    background-color: #301E67;
    border:2px solid #a1d1f9;
}
.visibility {
    position:relative;
    display:inline-block;
    top:-40px;
    left: 150px;
}